body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(327deg, rgba(2,0,36,1) 17%, rgba(121,9,9,1) 77%, rgba(0,212,255,1) 100%);
  text-align: center;
}
.app-title{
  font-family: 'Play', sans-serif;
  margin-top: 75px;
  margin-bottom: 60px;
  font-size: 76px;
  color:rgba(2,0,36,1);
}